<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter"
    style="background-image: url('./assets/img/fondo.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6 col-sm-6" style="padding-top: 10%;">
          <form [formGroup]="usuarioForm" novalidate>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <h3 class="text-center" style="font-family: fantasy;">CREACIÓN DE CONTRASEÑA</h3>
                  </div>
                  <div class="col-sm-12">
                    <span class="bmd-form-group col-sm-6">
                      <div class="input-group">
                        <div class="col-sm-12 text-center" style="font-size: 18px;">
                          <p>USUARIO / RUC : <strong  style="font-size: 18px;margin-left:2.5px;color: #495057 !important;font-weight: bold; background-image: linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);">
                              {{item.username}}</strong></p>
                        </div>
                      </div>
                    </span>
                  </div>
                  <div class="col-sm-12" style="margin-top: -35px;">
                    <span class="bmd-form-group  col-sm-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <div class="col-sm-10">
                          <mat-form-field class="example-full-width">
                            <input type="password" [errorStateMatcher]="matcher" placeholder="Contraseña *" matInput
                              formControlName="Contrasena">
                            <mat-error *ngIf="usuarioForm.get('Contrasena').hasError('required') ">
                              Contraseña es obligatorio
                            </mat-error>
                            <mat-error *ngIf="usuarioForm.get('Contrasena').hasError('pattern')">
                              Mínimo 6 caracteres, 1 letra mayúscula, 1 letra minúscula y 1 dígito
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </span>
                  </div>

                  <div class="col-sm-12" style="margin-top: -20px;">
                    <span class="bmd-form-group  col-sm-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <div class="col-sm-10">
                          <mat-form-field class="example-full-width">
                            <input type="password" [errorStateMatcher]="matcher" placeholder="Confirmar Contraseña *"
                              matInput formControlName="ConfirmarContrasena">
                            <mat-error *ngIf="usuarioForm.get('ConfirmarContrasena').hasError('required') ">
                              Confirmar Contraseña es obligatorio
                            </mat-error>
                            <mat-error *ngIf="usuarioForm.get('ConfirmarContrasena').hasError('pattern')">
                              Mínimo 6 caracteres, 1 letra mayúscula, 1 letra minúscula y 1 dígito
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </span>
                  </div>
                  <div class="card-footer justify-content-center  col-sm-11">
                    <button mat-raised-button class="btn btn-round" style="background-color: #03144e;"
                      (click)="getUsuario()">
                      Registrarse
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="container" style="padding-top: 8%;">
        <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, Desarrollado por
          <a href="http://www.sbperu.net/" style="color:#118aea !important;" target="_blank">SOFTBRILLIANCE</a>
        </div>
      </div>
    </div>
  </div>
</div>