<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter"
    style="background-image: url('./assets/img/fondo.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6 col-sm-6" style="padding-top: 3.5%;">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center" style="font-family: fantasy;">REGISTRO ONLINE</h3>
                  <br>
                </div>
                <div class="col-sm-1"></div>
                <span class="bmd-form-group col-sm-10">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">person</i>
                      </span>
                    </div>
                    <input name="login" class="form-control" placeholder="Usuario / RUC *" [(ngModel)]="usuario"
                      maxlength="11" required>
                    <button mat-raised-button="" mat-min-fab="" rel="tooltip" title="VALIDAR" data-placement="left"
                      (click)="validar()" style="background-color: #23a223;margin-top: -4px;"
                      class="btn btn-round btn-fab mat-raised-button mat-button-base" [disabled]="usuario.length<11">
                      <span class="mat-button-wrapper">
                        <i class="material-icons">done</i>
                      </span>
                    </button>
                  </div>
                  <br>
                </span>
              </div>
              <div class="row" *ngIf="show==1">
                <div class="col-sm-5" style="margin-top: 6px">
                  <p style="text-align: right;font-size: 18px;">Nombre / razón social:</p>
                </div>
                <div class="col-sm-7">
                  <p class="form-control" style="text-align: left;font-size: 16px;"><strong>{{razon}}</strong></p>
                </div>
                <div class="col-sm-5" style="margin-top: 6px;">
                  <p style="text-align: right;font-size: 18px;">Correo:</p>
                </div>
                <div class="col-sm-7">
                  <p class="form-control" style="text-align: left;font-size: 16px;"><strong>{{correoConf}}</strong></p>
                </div>
                <div class="card-footer justify-content-center col-sm">
                  <button *ngIf="showBoton==0" mat-raised-button class="btn btn-round"
                    style="background-color: #03144e;" (click)="getUsuario()">
                    Solicitar clave
                  </button>
                  <button *ngIf="showBoton==1" mat-raised-button class="btn btn-round"
                    style="background-color: #03144e;" disabled>
                    Procesando su solicitud
                  </button>
                </div>
                <div class="col-sm-12" style="    margin-top: 5px;
                margin-bottom: 5px;">
                  <mat-error *ngIf="mensaje==1" style="font-size: 16.5px;
                  font-weight: bold;">
                    Antes de solicitar la clave debe aceptar los términos y condiciones
                  </mat-error>
                </div>
                <div class="col-sm-12">
                  <div class="form-check">
                    <label class="form-check-label" style="font-size: 16px;margin-top: -1.5px;">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="check"> Acepto los términos y
                      condiciones
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <p style="text-align: justify;">"La empresa se compromete a guardar absoluta reserva y mantener la
                confidencialidad de la información personal de sus proveedores respetando las disposiciones contenidas
                en la Ley N°29733 Ley de Protección de datos personales."</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Desarrollado por
            <a href="http://www.sbperu.net/" style="color:#118aea !important;" target="_blank">SOFTBRILLIANCE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>