<div class="main-content">
    <div class="container-fluid">
        <div class="card ">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-text orden">
                    <h4 class="card-title">Cambiar Contraseña</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <form [formGroup]="cambiarForm" novalidate>
                            <div class="col-sm-12 mdl-input-group mdl-input-group__only">
                                <mat-form-field class="example-full-width">
                                    <span matPrefix style="margin-right: 8px;"><i
                                            class="material-icons">lock_outline</i></span>
                                    <input matInput placeholder="Contrase&ntilde;a Actual" type="{{type}}"
                                        [errorStateMatcher]="matcher" formControlName="old_password" minlength="6" />
                                    <button mat-button *ngIf="cambiarForm.value['old_password']" matSuffix
                                        mat-icon-button (mousedown)="enter('type')" (mouseup)="leave('type')"
                                        (mouseleave)="leave('type')">
                                        <div class="example-tooltip-host" matTooltip="Ver"
                                            [matTooltipPosition]="'above'">
                                            <mat-icon>visibility</mat-icon>
                                        </div>
                                    </button>
                                    <mat-error *ngIf="cambiarForm.get('old_password').hasError('required')">
                                        Contraseña Actual es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-12 mdl-input-group mdl-input-group__only">
                                <mat-form-field class="example-full-width">
                                    <span matPrefix style="margin-right: 8px;"><i
                                            class="material-icons">lock_outline</i></span>
                                    <input matInput placeholder="Nueva Contrase&ntilde;a" type="{{type2}}"
                                        [errorStateMatcher]="matcher" formControlName="new_password" minlength="6" />
                                    <button mat-button *ngIf="cambiarForm.value['new_password']" matSuffix
                                        mat-icon-button (mousedown)="enter('type2')" (mouseup)="leave('type2')"
                                        (mouseleave)="leave('type2')">
                                        <div class="example-tooltip-host" matTooltip="Ver"
                                            [matTooltipPosition]="'above'">
                                            <mat-icon>visibility</mat-icon>
                                        </div>
                                    </button>
                                    <mat-error *ngIf="cambiarForm.get('new_password').hasError('required')">
                                        Nueva Contraseña es obligatorio
                                    </mat-error>
                                    <mat-error *ngIf="cambiarForm.get('new_password').hasError('pattern')">
                                        Mínimo 6 caracteres, 1 letra mayúscula, 1 letra minúscula y 1 dígito
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-12 mdl-input-group mdl-input-group__only">
                                <mat-form-field class="example-full-width">
                                    <span matPrefix style="margin-right: 8px;"><i
                                            class="material-icons">lock_outline</i></span>
                                    <input matInput placeholder="Confirmar Contrase&ntilde;a" type="{{type3}}"
                                        [errorStateMatcher]="matcher" formControlName="conf_password" minlength="6" />
                                    <button mat-button *ngIf="cambiarForm.value['conf_password']" matSuffix
                                        mat-icon-button (mousedown)="enter('type3')" (mouseup)="leave('type3')"
                                        (mouseleave)="leave('type3')">
                                        <div class="example-tooltip-host" matTooltip="Ver"
                                            [matTooltipPosition]="'above'">
                                            <mat-icon>visibility</mat-icon>
                                        </div>
                                    </button>
                                    <mat-error *ngIf="cambiarForm.get('conf_password').hasError('required')">
                                        Confirmar Contraseña es obligatorio
                                    </mat-error>
                                    <mat-error *ngIf="cambiarForm.get('conf_password').hasError('pattern')">
                                        Mínimo 6 caracteres, 1 letra mayúscula, 1 letra minúscula y 1 dígito
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <br>
                            <div class="text-center">
                                <button mat-raised-button class="btn btn-round" style="background-color: #03144e;"
                                    (click)="change()" [disabled]="disable">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>