@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.sebm-google-map-container {
    height: 300px;
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.custom-file-label {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 1 !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #094075 !important;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

.custom-file-label::after {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 3 !important;
    display: block !important;
    height: calc(1.5em + .75rem) !important;
    padding: .375rem .75rem !important;
    line-height: 1.5 !important;
    color: #094075 !important;
    content: "Examinar" !important;
    background-color: #e9ecef !important;
    border-left: inherit !important;
    border-radius: 0 .25rem .25rem 0 !important;
}

.modal-dialog .modal-footer button {
    margin-right: 2px !important;
}

#mdlArchivosAdjuntos {
    z-index: 1080 !important;
}

.main-panel .main-content {
    margin-top: 40px !important;
}

.table-cuadro-evaluacion {
    /*border:  solid #ddd;*/
    border-collapse: collapse;
    min-width: 100%;
}

.table-cuadro-evaluacion th {
    padding: 4px 8px 4px 8px;
    /*text-align: center;*/
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.table-cuadro-evaluacion td {
    padding: 4px 8px 4px 8px;
    /*text-align: center;*/
    /* border: 1px solid rgb(248, 248, 248);*/
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.table-cuadro-evaluacion tbody td {
    background: #EAF7E8;
}

.table-cuadro-evaluacion .first-col {
    z-index: 999;
}

.detalle-criterio, .detalle-criterio td {
    background-color: #BDD7EE !important;
    border: 1px solid rgb(248, 248, 248) !important;
}

td.precio-resaltado {
    background-color: #f8fa88 !important;
}

.cabecera-CE {
    background-color: #2E75B8 !important;
}

.form-check-label {
    color: #094075
}

.child .overflow-friendly {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    vertical-align: middle;
    overflow-wrap: break-word !important;
    white-space: inherit !important;
}

#dtResultado .overflow-friendly {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    vertical-align: middle;
    overflow-wrap: break-word;
    margin-bottom: 0!important;
}

#dtDetalle .overflow-friendly, #dtEjecucionPresupuestal .overflow-friendly, #dtDetalleEP .overflow-friendly {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    vertical-align: middle;
    overflow-wrap: break-word;
    margin-bottom: 0!important;
}

.material-datatables .overflow-friendly {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    vertical-align: middle;
    overflow-wrap: break-word;
    margin-bottom: 0!important;
}

#dtConsultas .overflow-friendly, #dtEscalamiento .overflow-friendly {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    vertical-align: middle;
    overflow-wrap: break-word;
    margin-bottom: 0!important;
}

.view_notification .notification {
    position: absolute;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
    top: -12px;
    border: 1px solid #FFF;
    right: -12px;
}

/*Nuevas clases*/

.barra1 {
    background: #1e88e5;
    /* padding: 5px 5px;
    border-radius: 5px;
    margin-right: 0px !important;
    margin-left: 0px !important; */
}

.barra1text {
    /*margin-top: 7px !important;*/
    color: white !important;
    padding: 0.40625rem 0.15rem;
}

button.btn-simple.btn-info.btn-icon .material-icons {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    word-wrap: normal;
}

.table thead {
    background-color: #1e88e5 !important;
}

.table th {
    font-weight: 500 !important;
}

.btn-primary {
    color: #fff;
    background-color: #094075;
    border-color: #094075;
    box-shadow: 0 2px 2px 0 rgb(9, 64, 117), 0 3px 1px -2px rgb(9, 64, 117), 0 1px 5px 0 rgb(9, 64, 117);
}

div.row.barra1>div:nth-child(2)>button {
    background-color: #d41514 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(12, 12, 12, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

/*
.btn-primary {
    background-color: #b5b5b5 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(12, 12, 12, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}*/

.sidebar .sidebar-wrapper {
    background-color: #094075 !important;
}

.sidebar .logo {
    background-color: #094075 !important;
}

.card .card-header .card-text h4.card-title, .barra1 h4.card-title.barra1text {
    font-size: 20px;
    margin-right: 11px;
    margin-left: 50px;
}

.card-header h4.card-title, .card-body h4.card-title, .modal-title, .modal-body h4.card-title {
    font-weight: 500 !important;
}

.card .card-header-primary .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(116, 146, 175);
    /* background: linear-gradient(60deg,   #094075,   #094075) !important; */
}

.pagination>.page-item.active>a.mat-button, .pagination>.page-item.active>a.mat-button:focus, .pagination>.page-item.active>a.mat-button:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover, .pagination .paginate_button.active a, .pagination .paginate_button.active a:focus, .pagination .paginate_button.active a:hover {
    background-color: #4674a0 !important;
    border-color: #4674a0 !important;
    color: #fff;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}

.btn-custom-icon {
    padding: 0.40625rem 0.25rem !important;
}

.sidebar .user a {
    padding: 0rem 15px !important;
}

.mat-option.mat-active {
    background: #f1be8a !important;
    color: rgba(0, 0, 0, .87);
}

.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #094075 !important;
    color: #fff !important;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    height: 2.5em !important;
}

.modal-lg {
    max-width: 92% !important;
}

.btn-custom-popup {
    padding: 0.40625rem 0.55rem !important;
}

.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #094075, #094075) !important;
}

.card-login input {
    padding-left: 5px;
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0;
    margin-bottom: 20px!important;
}

:-ms-input-placeholder.mat-select-search-input {
    -ms-user-select: text !important;
}

:-ms-input-placeholder.mat-input-element {
    -ms-user-select: text !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}

a.nav-link.ng-star-inserted .material-icons {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    word-wrap: normal;
}

table#dtDetalle {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15.5px;
}

table#dtDetalle tbody tr:nth-of-type(odd) {
    background: #f0f7ff;
}

.search span.mat-button-wrapper, .clear span.mat-button-wrapper {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    word-wrap: normal;
}

button.clear, button.search {
    height: 60px;
}

button.clear:before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(/assets/img/clear-w.png);
    position: absolute;
    background-size: cover;
    -webkit-transform: translate(50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 9;
}

button.search:before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(/assets/img/search.png);
    position: absolute;
    background-size: cover;
    -webkit-transform: translate(50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 9;
}

button.clear .mat-ripple {
    background-color: #eb4845;
    border-color: #ff525d;
    box-shadow: 0 1px 1px 0 #ff525d, 0 1px 1px -1px #ff525d, 0 1px 2px 0 #ff525d;
}

button.search .mat-ripple {
    background-color: #8BC34A;
    border-color: #8BC34A;
    box-shadow: 0 1px 1px 0 #8BC34A, 0 1px 1px -1px #8BC34A, 0 1px 2px 0 #8BC34A;
}

.card .card-header-primary .card-text.orden {
    background: #295682 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 178, 43, .4);
}

.card-text.orden:before {
    content: "";
    background-image: url(/assets/img/consulta.png);
    background-size: cover;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 5px;
    top: 35%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
}

.card .card-header-primary .card-text.consulta {
    background: #295682 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 178, 43, .4);
}

.card-text.consulta:before {
    content: "";
    background-image: url(/assets/img/consulta.png);
    background-size: cover;
    width: 48px;
    height: 100%;
    position: absolute;
    top: 30%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    left: 5px;
}

button.btn-simple.btn-info.eye, button.btn-simple.btn-info.print {
    height: 40px;
    width: 40px;
    position: relative;
    border: 0;
    border-radius: 5px;
    background-color: #607D8B;
}

button.btn-simple.btn-info.eye:before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(/assets/img/eye.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translate(50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 9;
}

button.btn-simple.btn-info.print:before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(/assets/img/printer.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translate(50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 9;
}

a.nav-link.ng-star-inserted {
    padding: 20px 10px 20px 60px !important;
}

a.nav-link.ng-star-inserted:before {
    content: "";
    background-size: cover;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
}

a.nav-link.order.ng-star-inserted:before {
    background-image: url(/assets/img/order.png);
}

a.nav-link.invoice.ng-star-inserted:before {
    background-image: url(/assets/img/invoice.png);
}

a.nav-link.provider.ng-star-inserted:before {
    background-image: url(/assets/img/provider.png);
}

a.nav-link.help.ng-star-inserted:before {
    background-image: url(/assets/img/help.png);
}

button.btn.btn-sm.btn-primary.close {
    height: 60px;
    color: transparent;
    background-color: #d23f3e;
    opacity: 1;
}

button.btn.btn-sm.btn-primary.close {
    height: 60px;
    background-color: #d23f3e;
    opacity: 1;
    border-color: #d23f3e;
    color: #d23f3e;
    box-shadow: 0 2px 2px 0 rgba(210, 63, 62, 0.14), 0 3px 1px -2px rgba(210, 63, 62, 0.14), 0 1px 5px 0 rgba(210, 63, 62, 0.12);
    text-shadow: none;
}

button.btn.btn-sm.btn-primary.close:before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(/assets/img/close.png);
    position: absolute;
    background-size: cover;
    -webkit-transform: translate(50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 9;
}

::-webkit-input-placeholder {
    color: #00AEDB;
    font-size: 20px !important;
}

.mat-form-field-infix {
    font-family: sans-serif;
    font-size: 17px !important;
}

.alert-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 35px;
    height: 35px;
    background: #000 url(/assets/img/modal-close.png) no-repeat center;
    cursor: pointer;
}

.modal-alerta {
    width: 48% !important;
}

.modal-detalle-compu {
    width: 84% !important;
    margin-left: 13.5%;
    margin-top: -6%;
}
.modal-detalle-celu {
    width: 105% !important; 
    margin-top: -9%;
}
.modal-pdf-compu {
    margin-left: 20%;
    margin-top: -5%;
    width: 75% !important;
    height: 620px !important;
}
.modal-pdf-celu {
    margin-top: -5%;
    width: 105% !important;
    height: 620px !important;
}


.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}

.card2{
    border: 0;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
}

.table-responsive-stack2 tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  
  .table-responsive-stack2 td,
  .table-responsive-stack2 th {
     display:block;
  /*      
     flex-grow | flex-shrink | flex-basis   */
     -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  }
  
  .table-responsive-stack2 .table-responsive-stack2-thead {
     font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
     .table-responsive-stack2 tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-bottom: 3px solid #ccc;
        display:block;
        
     }
     /*  IE9 FIX   */
     .table-responsive-stack2 td {
        float: left\9;
        width:100%;
     }
  }
  