<div class="card2 fadeInDown">
  <div class="col-sm-12">
    <h3 class="col-sm-12 text-center modal-title"><u style="color: #234c75; font-size: 32px;">COMUNICADO</u></h3><button
      type="button" class="alert-close" (click)="close()"></button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <p style="text-align: justify; font-size: 17.2px; color: black;">A todos los proveedores de nuestras empresas:
          Naviera Transoceánica S.A, Petrolera Transoceánica S.A. y Naviera Petral S.A. se les informa que la recepción
          de facturas es mediante los siguientes correos:</p>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="material-datatables table-responsive">
        <table id="dtNormal" cellspacing="0" width="100%" class="table table-striped table-no-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center" style="text-transform: uppercase; font-weight: 600 !important;">Empresa</th>
              <th class="text-center" style="text-transform: uppercase; font-weight: 600 !important;">Correo electrónico
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of Empresas">
              <td class="text-center">{{element.nombre}}</td>
              <td class="text-center">{{element.correo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
      <div class="col-sm-12">
        <p style="text-align: justify; font-size: 17.2px; margin-top: 2px; color: black;">Para ello solicitamos enviar
          la siguiente documentación:</p>
        <div class="card-body" style="margin-top: -10px;">
          <ul>
            <li type="disc" style="text-align: justify; font-size: 17.2px; margin-bottom: 2px; color: black;">Factura
              electrónica en formato PDF.</li>
            <li type="disc" style="text-align: justify; font-size: 17.2px; margin-bottom: 2px; color: black;">Archivo
              *.xml.</li>
            <li type="disc" style="text-align: justify; font-size: 17.2px; color: black;">Sustentos de la entrega de
              suministros, servicios o transportes, tales como guías de remisión, valorización, correos y/u otros
              sustentos.</li>
          </ul>
        </div>
        <p style="text-align: justify; font-size: 17.2px; color: black; margin-top: -4px;">Esperamos su comprensión y
          colaboración.</p>
        <p style="text-align: right; font-size: 20px; font-weight: bold;">La Empresa.</p>
      </div>
    </div>
  </div>
</div>