<div class="card2 fadeInDown" *ngIf="show==0">
  <div class="col-sm-12">
    <h3 class="col-sm-12 text-center modal-title"><u style="color: #234c75; font-size: 32px;">DETALLE DE PAGO</u></h3>
    <button type="button" class="alert-close" (click)="close()"></button>
  </div>
  <div class="col-sm-12" style="max-height: 500px !important;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="ORDEN DE PAGO" matInput [ngModel]="op.opago" readonly>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="FECHA DE PAGO" matInput [ngModel]="fechaEmision" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="material-datatables table-responsive">
            <table id="dtDetalle" cellspacing="0" class="table table-no-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-center">N° DOCUMENTO</th>
                  <th class="text-center">FECHA EMISIÓN</th>
                  <th class="text-center">IMPORTE</th>
                  <th class="text-center">RETENCIÓN</th>
                  <th class="text-center">DETRACCIÓN</th>
                  <th class="text-center">MONTO PAGO</th>
                  <th class="text-center">FORMA PAGO</th>
                  <th class="text-center">N° DE CUENTA / CCI</th>
                  <th class="text-center">ENTIDAD BANCARIA</th>
                  <th class="text-center">COMPROBANTE RETENCIÓN</th>
                  <th class="text-center">INFORMACIÓN DETRACCIÓN</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of ListDetalle">
                  <td class="text-center" style="text-transform: uppercase;width: 166px;">{{element.xblnr}} </td>
                  <td class="text-center" style="width: 105px;">{{element.bldat}}</td>
                  <td class="text-center">
                    <span *ngIf="op.waers=='PEN'">{{element.wrbtr | currency: 'S/'}}</span>
                    <span *ngIf="op.waers=='USD'">{{element.wrbtr | currency: '$'}}</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="op.waers=='PEN'">{{element.qbshb | currency: 'S/'}}</span>
                    <span *ngIf="op.waers=='USD'">{{element.qbshb | currency: '$'}}</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="op.waers=='PEN'">{{element.detra | currency: 'S/'}}</span>
                    <span *ngIf="op.waers=='USD'">{{element.detra | currency: '$'}}</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="op.waers=='PEN'">{{element.rwbtr | currency: 'S/'}}</span>
                    <span *ngIf="op.waers=='USD'">{{element.rwbtr | currency: '$'}}</span>
                  </td>
                  <td class="text-center" style="text-transform: uppercase;width: 135px;">
                    <u *ngIf="op.tipoPago=='CHEQUE'" rel="tooltip" title="{{op.tipoPagoRe}}" data-placement="left">
                      {{op.tipoPago}}
                    </u>
                    <span *ngIf="op.tipoPago!='CHEQUE'">
                      {{op.tipoPago}}
                    </span>

                  </td>
                  <td class="text-center" style="text-transform: uppercase;">{{op.ubknt}}</td>
                  <td class="text-center" style="text-transform: uppercase;width: 185px;">{{op.banka}}</td>
                  <td class="text-center" style="text-transform: uppercase;">
                    <u>
                      <a href="javascript:void(0)" (click)="pdf(element)" rel="tooltip"
                        title="COMPROBANTE DE RETENCIÓN ELECTRÓNICO" data-placement="left">{{element.comp_reten}}</a>
                    </u>
                  </td>
                  <td class="text-center" style="text-transform: uppercase;">
                    <u>
                      <a href="javascript:void(0)" (click)="imprimirDetraccion(element)" rel="tooltip"
                        title="INFORME DETRACCIONES" data-placement="left">{{element.info_detracc}}</a>
                    </u></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-12" style="padding-top: 0.5%;"><button type="button" class="btn btn-sm close btn-primary"
            (click)="close()">Cerrar</button></div>
      </div>
    </div>
  </div>
</div>
<div class="card2 fadeInDown" *ngIf="show==1">
  <div class="col-sm-12">
    <h3 class="col-sm-12 text-center modal-title"><u style="color: #234c75; font-size: 32px;">DETALLE DE PAGO</u></h3>
    <button type="button" class="alert-close" (click)="close()"></button>
  </div>
  <div class="col-sm-12">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="ORDEN DE PAGO" matInput [ngModel]="op.opago" readonly>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="FECHA DE PAGO" matInput [ngModel]="fechaEmision" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="material-datatables table-responsive">
            <table id="dtDetalle" cellspacing="0" class="table table-no-bordered table-striped table-responsive-stack2">
              <thead>
                <tr>
                  <th class="text-center">N° DOCUMENTO</th>
                  <th class="text-center">FECHA EMISIÓN</th>
                  <th class="text-center">IMPORTE</th>
                  <th class="text-center">RETENCIÓN</th>
                  <th class="text-center">DETRACCIÓN</th>
                  <th class="text-center">MONTO PAGO</th>
                  <th class="text-center">FORMA PAGO</th>
                  <th class="text-center">N° DE CUENTA / CCI</th>
                  <th class="text-center">ENTIDAD BANCARIA</th>
                  <th class="text-center">COMPROBANTE RETENCIÓN</th>
                  <th class="text-center">INFORMACIÓN DETRACCIÓN</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of ListDetalle">
                  <td class="text-center" style="text-transform: uppercase;">{{element.xblnr}} </td>
                  <td class="text-center">{{element.bldat}}</td>
                  <td class="text-center">
                    <span *ngIf="op.waers=='PEN'">{{element.wrbtr | currency: 'S/'}}</span>
                    <span *ngIf="op.waers=='USD'">{{element.wrbtr | currency: '$'}}</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="op.waers=='PEN'">{{element.qbshb | currency: 'S/'}}</span>
                    <span *ngIf="op.waers=='USD'">{{element.qbshb | currency: '$'}}</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="op.waers=='PEN'">{{element.detra | currency: 'S/'}}</span>
                    <span *ngIf="op.waers=='USD'">{{element.detra | currency: '$'}}</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="op.waers=='PEN'">{{element.rwbtr | currency: 'S/'}}</span>
                    <span *ngIf="op.waers=='USD'">{{element.rwbtr | currency: '$'}}</span>
                  </td>
                  <td class="text-center" style="text-transform: uppercase;">
                    <u *ngIf="op.tipoPago=='CHEQUE'" rel="tooltip" title="{{op.tipoPagoRe}}" data-placement="left">
                      {{op.tipoPago}}
                    </u>
                    <span *ngIf="op.tipoPago!='CHEQUE'">
                      {{op.tipoPago}}
                    </span>
                  </td>
                  <td class="text-center" style="text-transform: uppercase;">{{op.ubknt}}</td>
                  <td class="text-center" style="text-transform: uppercase;">{{op.banka}}</td>
                  <td class="text-center" style="text-transform: uppercase;">
                    <u>
                      <a href="javascript:void(0)" (click)="pdf(element)" rel="tooltip"
                        title="COMPROBANTE DE RETENCIÓN ELECTRÓNICO" data-placement="left">{{element.comp_reten}}</a>
                    </u>
                  </td>
                  <td class="text-center" style="text-transform: uppercase;">
                    <u>
                      <a href="javascript:void(0)" (click)="imprimirDetraccion(element)" rel="tooltip"
                        title="INFORME DETRACCIONES" data-placement="left">{{element.info_detracc}}</a>
                    </u></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-12" style="padding-top: 0.5%;"><button type="button" class="btn btn-sm close btn-primary"
            (click)="close()">Cerrar</button></div>
      </div>
    </div>
  </div>
</div>
<div style="display:none">
  <div id="print-info" style="font-family: Arial, Helvetica, sans-serif;color: #000;font-size: 10px;">
    <table align="center" width="100%" border="0" style="text-align: center">
      <tbody>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <br><br>
                    <br><br>
                    <div
                      style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 24px; padding: 15px; text-align: CENTER; line-height: 10px">
                      <br><br>
                      <strong style="display: inline-table"><u>INFORME DETRACCIONES </u></strong><br><br>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <br><br>
                <tr>
                  <td width="10%">
                  </td>
                  <td width="40%">
                    <div
                      style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 20px; padding: 15px; text-align: left; line-height: 28px">
                      Nro. Constancia <br>
                      Nro. cuenta de detracciones (BN) <br>
                      RUC del Proveedor <br>
                      Nombre / Razón Social del Proveedor <br>
                      RUC del Adquiriente <br>
                      Nombre / Razón Social del Adquiriente <br>
                      Fecha de pago
                    </div>
                  </td>
                  <td width="5%">
                    <div
                      style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 20px; padding: 15px; text-align: left; line-height: 28px">
                      :<br>
                      :<br>
                      :<br>
                      :<br>
                      :<br>
                      :<br>
                      :
                    </div>
                  </td>
                  <td width="45%">
                    <div
                      style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 20px; padding: 15px; text-align: left; line-height: 28px">
                      {{imprimir.doc_det.const_detrac}}<br>
                      {{imprimir.doc_det.cta_detrac}}<br>
                      {{imprimir.doc_det.ruc_provee}}<br>
                      {{imprimir.doc_det.nom_provee}}<br>
                      {{imprimir.ruc_adqui}}<br>
                      {{imprimir.nom_adqui}}<br>
                      {{imprimir.bldat}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <br><br>
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 2px solid black;">
                      <tbody>
                        <tr>
                          <td width="17%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Tipo Doc. </div>
                          </td>
                          <td width="17%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Num. Docu.</div>
                          </td>
                          <td width="10%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              T.Q.</div>
                          </td>
                          <td width="10%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              T.B.S.</div>
                          </td>
                          <td width="10%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              % Detracción </div>
                          </td>
                          <td width="17%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Monto Detracción Soles </div>
                          </td>
                          <td width="17%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Monto Detracción Dólares </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td width="17%" align="center" valign="top">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px 10px; text-align: center; ">
                              {{imprimir.doc_det.tipo_doc}}</div>
                          </td>
                          <td width="17%" align="right" valign="top">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px 10px; text-align: center; ">
                              {{imprimir.doc_det.num_doc}}</div>
                          </td>
                          <td width="10%" align="center" valign="top">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px 10px; text-align: center; ">
                              {{imprimir.doc_det.tq}}</div>
                          </td>
                          <td width="10%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px 10px; text-align: center;">
                              {{imprimir.doc_det.tbs}}</div>
                          </td>
                          <td width="10%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px 10px; text-align: center;">
                              {{imprimir.doc_det.porc_det}}</div>
                          </td>
                          <td width="17%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px 10px; text-align: center;">
                              {{imprimir.doc_det.mont_det_sol}}</div>
                          </td>
                          <td width="17%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 18px; padding: 5px 10px; text-align: center;">
                              {{imprimir.doc_det.mont_det_dol}}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<block-ui>
  <!-- Your app markup here -->
</block-ui>