<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-text consulta">
                <h4 class="card-title">PROVEEDORES</h4>
              </div>
            </div>
            <br>
            <div class="card-body ">
              <div class="material-datatables table-responsive">
                <div class="material-datatables table-responsive">
                  <table id="dtResultadoProveedor" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead >
                      <tr>
                        <th class="text-center">RUC</th>
                        <th class="text-center">NOMBRE / RAZÓN SOCIAL</th>
                        <th class="text-center">APELLIDO</th>
                        <th class="text-center">CORREO</th>
                        <th class="text-center">FECHA DE REGISTRO</th>
                        <th class="text-center">ESTADO</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

