<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter"
    style="background-image: url('./assets/img/fondo.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="text-center" style="font-family: fantasy;">RECUPERAR CONTRASEÑA</h3>
                  <br>
                </div>
                <div class="col-sm-12">
                  <p style="text-align: justify;">Las intrucciones de recuperación de contraseña se enviarán al correo
                    electrónico
                    especificado en el registro.</p>
                  <br>
                </div>
                <div class="col-sm-12" style="margin-top: -35px;">
                  <span class="bmd-form-group  col-sm-6">
                    <div class="input-group">
                      <div class="col-sm-1"></div>
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person</i>
                        </span>
                      </div>
                      <input name="login" class="form-control" placeholder="Usuario / Correo *" [(ngModel)]="usuario"
                        required>
                      <div class="col-sm-1"></div>
                    </div>
                  </span>
                </div>
                <div class="card-footer justify-content-center  col-sm-11">
                  <button *ngIf="showBoton==0" mat-raised-button class="btn btn-round" style="background-color: #03144e;"
                    [disabled]="!usuario" (click)="registrarse()">
                    Enviar
                  </button>
                  <button *ngIf="showBoton==1" mat-raised-button class="btn btn-round"
                    style="background-color: #03144e;" disabled>
                    Procesando su solicitud
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <br><br><br><br><br><br><br><br>
        <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, Desarrollado por
          <a href="http://www.sbperu.net/" style="color:#118aea !important;" target="_blank">SOFTBRILLIANCE</a>
        </div>
      </div>
    </div>
  </div>
</div>