<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter"
    style="background-image: url('./assets/img/fondo.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-8 col-sm-8">
          <div class="card">
            <div class="card-body">
              <div class="card-body">
                <div class="row" style="border: double;">
                  <div class="col-md-4">
                    <br>
                    <div style="margin-top: 23px;margin-left: -15px;">
                      <img style="height: 100%;width: 108%;" src="./assets/img/naviera.png" />
                    </div>
                    <br>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <div style="margin-top: 6px;">
                      <img style="height: 100%;width: 94%;" src="./assets/img/Petrolera.png" />
                    </div>
                    <br>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <div>
                      <img style="height: 100%;width: 100%;" src="./assets/img/Petral.png" />
                    </div>
                    <br>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="text-center" style="font-family: fantasy;">BIENVENIDO AL PORTAL DE PROVEEDORES</h3>
                    <br>
                  </div>
                  <div class="col-sm-3"></div>
                  <span class="bmd-form-group col-sm-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person</i>
                        </span>
                      </div>
                      <input name="login" class="form-control" placeholder="Usuario / RUC *" [(ngModel)]="item.username"
                        required>
                    </div>
                    <br>
                  </span>
                  <div class="col-sm-3"></div>
                  <div class="col-sm-3"></div>
                  <span class="bmd-form-group  col-sm-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" name="password" class="form-control" placeholder="Contraseña *" 
                        [(ngModel)]="item.password" required>
                    </div>
                    <br>
                  </span>
                  <div class="card-footer justify-content-center  col-sm-12">
                    <button mat-raised-button class="btn btn-round" style="background-color: #03144e;"
                      (click)="LogIn($event)">
                      Ingresar
                    </button>
                  </div>
                  <div class="card-footer justify-content-left  col-sm-12">
                    <strong>
                      <a href="#/pages/recuperarcontrasena" style="color:#118aea !important;font-size: 18.5px;">¿Has olvidado tu contraseña?</a>
                    </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, Desarrollado por
          <a href="http://www.sbperu.net/" style="color:#118aea !important;" target="_blank">SOFTBRILLIANCE</a>
        </div>
      </div>
    </footer>
  </div>
</div>
<block-ui>
</block-ui>
