<div class="logo">
    <a href="#/pages/login" class="simple-text logo-normal" style="text-align: center;" target="_blank">
      PORTAL DE PROVEEDORES
    </a>
</div>


<div class="sidebar-wrapper">

  <div class="user">
    <!-- <div class="photo">
      <img src="./assets/img/avatar.jpg" />
    </div> -->
    <div class="user-info">
      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
        <span style="text-align: left; text-transform: uppercase;">
          {{razonSocial}}<br>
          {{tipo}}<br>
          <b class="caret"></b>
        </span>
      </a>
      <div class="collapse show" id="collapseExample">
        <ul class="nav">
          <li class="nav-item" style="margin-left: -5%;" *ngIf="perfil != '0022'">
            <a href="javascript:void(0)" (click)="ChangePass()"  class="nav-link" style="font-size: 14.5px;">
              <span class="sidebar-mini">CC</span>
              <span class="sidebar-normal">Cambiar Contraseña</span>
            </a>
          </li>
          <li class="nav-item" style="margin-left: -5%;">
            <a href="#" (click)="cerrarSesion()" class="nav-link" style="font-size: 14.5px;">
              <span class="sidebar-mini">CS</span>
              <span class="sidebar-normal">Cerrar Sesión</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
      <!--If is a single link-->
      <ng-container *ngFor="let optional_url of menuitem.other_urls">
        <a [routerLink]="[optional_url.path]" class="nav-link" style="display: none">Childrens</a>
      </ng-container>
      <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" [class]="menuitem.clase">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{menuitem.title}}</p>
      </a>
      <!--If it have a submenu-->
      <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()"
        class="nav-link">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{menuitem.title}}<b class="caret"></b></p>
      </a>

      <!--Display the submenu items-->
      <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
        <ul class="nav">
          <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
            <ng-container *ngFor="let optional_url of childitem.other_urls">
              <a [routerLink]="[optional_url.path]" class="nav-link" style="display: none">Childrens</a>
            </ng-container>
            <a [routerLink]="[childitem.path]" class="nav-link">
              <span class="sidebar-mini">{{childitem.ab}}</span>
              <span class="sidebar-normal">{{childitem.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>

</div>