<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="filtrosForm" novalidate>
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-text orden">
                <h4 class="card-title" style="margin-left: 55px;">{{titulo}}</h4>
              </div>
            </div>
            <br>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3" *ngIf="IDPerfil==0022">
                  <mat-form-field class="example-full-width">
                    <input type="text" [errorStateMatcher]="matcher" placeholder="RUC *" maxlength="11" matInput
                      formControlName="RUC">
                    <mat-error *ngIf="filtrosForm.get('RUC').hasError('required')">
                      RUC es obligatorio
                    </mat-error>
                    <mat-error *ngIf="filtrosForm.get('RUC').hasError('pattern')">
                      RUC inválido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Fecha Desde" formControlName="FechaInicio"
                      [max]="filtrosForm.value['FechaFin']">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker2" placeholder="Fecha Hasta" formControlName="FechaFin"
                      [min]="filtrosForm.value['FechaInicio']">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width" style="padding-top: 2%;">
                    <mat-select placeholder="Sociedad " formControlName="Sociedad"
                      style="line-height: 1.5;text-transform: uppercase;">
                      <mat-option>TODO</mat-option>
                      <mat-option style="text-transform: uppercase;" *ngFor="let option of Empresas"
                        [value]="option.ruc">
                        {{ option.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <button mat-raised-button (click)="limpiar();List=[];" type="button"
                    class="btn btn-fill clear btn-sm btn-primary pull-right mat-raised-button mat-button-base">Limpiar</button>
                  <button mat-button (click)="Buscar()"
                    class="btn btn-fill btn-sm btn-primary search pull-right mat-button mat-button-base"
                    [disabled]="disable">Buscar</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12" style="padding-left: 43%;">
                <mat-progress-spinner mode="indeterminate" *ngIf="disable==true"></mat-progress-spinner>
                <br>
              </div>
            </div>
            <div class="card-body" *ngIf="List.length>0">
              <div class="row barra1">
                <div class="col-sm-6">
                  <h4 class="card-title pull-left barra1text">LISTA DE PAGOS</h4>
                </div>
              </div>
              <br>
              <div class="material-datatables table-responsive">
                <table [class]="clase4" id="tableOne">
                  <thead>
                    <tr>
                      <th class="text-center">SOCIEDAD</th>
                      <th *ngIf="IDPerfil == '0022'" class="text-center">ORDEN DE PAGO</th>
                      <th class="text-center">MONTO TOTAL PAGADO</th>
                      <th class="text-center">MONEDA</th>
                      <th class="text-center">FECHA DE PAGO</th>
                      <th class="text-center">DETALLE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of List">
                      <td class="text-center" style="text-transform: uppercase;">{{element.nom_adqui}} </td>
                      <td *ngIf="IDPerfil == '0022'" class="text-center" style="text-transform: uppercase;">
                        {{element.opago}} </td>
                      <td class="text-center">
                        <span *ngIf="element.waers=='PEN'">{{element.rwbtr | currency: 'S/'}}</span>
                        <span *ngIf="element.waers=='USD'">{{element.rwbtr | currency: '$'}}</span>
                      </td>
                      <td class="text-center" style="text-transform: uppercase;">{{element.waers}}</td>
                      <td class="text-center">{{element.fechaEmision}}</td>
                      <td class="text-center">
                        <div class="text-center"><a class="actions">
                            <button class="btn-simple btn-info eye btn-icon" rel="tooltip" title="Ver Detalle"
                              data-placement="left" (click)="Detalle(element)">
                              <i class="material-icons">remove_red_eye</i>
                            </button>
                            <button class="btn-simple btn-info print btn-icon" rel="tooltip" title="Imprimir"
                              style="margin-left: 4px;" data-placement="left" (click)="imprimir(element)">
                              <i class="material-icons">print</i>
                            </button>
                          </a></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div style="display:none">
  <div id="print-section-material" style="font-family: Arial, Helvetica, sans-serif;color: #000;font-size: 10px;">
    <table align="center" width="100%" border="0" style="text-align: center">
      <tbody>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <br><br>
                <tr>
                  <td>
                    <br><br>
                    <div
                      style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 28px; padding: 15px; text-align: CENTER; line-height: 10px">
                      <strong style="display: inline-table">ORDEN DE PAGO</strong><br><br>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <br><br>
                <tr>
                  <td width="20%">
                  </td>
                  <td width="20%">
                    <div
                      style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 20px; padding: 15px; text-align: left; line-height: 28px">
                      Orden de Pago <br>
                      Monto Total Pagado <br>
                      Moneda<br>
                      Fecha de pago
                    </div>
                  </td>
                  <td width="5%">
                    <div
                      style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 20px; padding: 15px; text-align: left; line-height: 28px">
                      :<br>
                      :<br>
                      :<br>
                      :
                    </div>
                  </td>
                  <td width="45%">
                    <div
                      style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 20px; padding: 15px; text-align: left; line-height: 28px">
                      {{ordenPago}}<br>
                      {{montoTotal}}<br>
                      {{moneda}}<br>
                      {{fechaEmision}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <br><br>
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 2px solid black;">
                      <tbody>
                        <tr>
                          <td width="16%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Nro Documento </div>
                          </td>
                          <td width="11%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Fecha Emisión</div>
                          </td>
                          <td width="13%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Importe Documento</div>
                          </td>
                          <td width="10%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Retención</div>
                          </td>
                          <td width="13%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Detracción </div>
                          </td>
                          <td width="13%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Monto Pago</div>
                          </td>
                          <td width="11%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Forma Pago </div>
                          </td>
                          <td width="11%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Comp. Retención</div>
                          </td>
                          <td width="11%">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px; text-align: center; line-height: 18px;font-weight: bold">
                              Info. Detracción</div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr *ngFor="let row of ListDetalle">
                          <td width="16%" align="center" valign="top">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center; ">
                              {{row.xblnr}}</div>
                          </td>
                          <td width="11%" align="right" valign="top">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center; ">
                              {{row.bldat}}</div>
                          </td>
                          <td width="13%" align="center" valign="top">
                            <div
                              style="font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center; ">
                              {{row.rwbtr }}</div>
                          </td>
                          <td width="10%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center;">
                              {{row.qbshb }}</div>
                          </td>
                          <td width="11%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center;">
                              {{row.detra}}</div>
                          </td>
                          <td width="13%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center;">
                              {{row.rwbtr }}</div>
                          </td>
                          <td width="11%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center;">
                              {{tipoPago}}
                            </div>
                          </td>
                          <td width="11%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center;">
                              {{row.comp_reten}}
                            </div>
                          </td>
                          <td width="11%" align="center" valign="top">
                            <div
                              style="max-width: 300px; overflow-wrap: break-word;font-family: Arial, Helvetica, 'sans-serif'; color: #212121; font-size: 16px; padding: 5px 10px; text-align: center;">
                              {{row.info_detracc}}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
