<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-text orden">
              <h4 class="card-title">INFORMACIÓN DE USUARIO</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="card-body">
              <div class="row card-body">
                <div class="col-sm-12" style="font-weight:bold;font-size: 18px;">
                  <p>USUARIO: <strong style="text-transform: uppercase;margin-left:2.5px">
                      {{user.user_id}}</strong></p>
                </div>

                <div class="col-sm-12" style="font-weight:bold;font-size: 18px;">
                  <p>NOMBRE / RAZÓN SOCIAL: <strong style="font-size: 18px;text-transform: uppercase;margin-left:2.5px">
                      {{user.user.Nombres}}</strong></p>
                </div>
                <div class="col-sm-12" style="font-weight:bold;font-size: 18px;">
                  <p>CORREO: <strong style="font-size: 18px;text-transform: uppercase;margin-left:2.5px">
                      {{user.user.Correo}}</strong></p>
                </div>
              </div>
              <div class="col-sm-12">
                <i style="text-align: justify;font-family: initial;">* Si desea cambiar de correo, por favor enviar un
                  email a
                  <a style="font-weight: bold;" href="mailto: webproveedores@navitranso.com">
                    webproveedores@navitranso.com</a>
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>