<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="filtrosForm" novalidate>
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-text orden">
                <h4 class="card-title">ESTADO DE FACTURAS</h4>
              </div>
            </div>
            <br>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3" *ngIf="IDPerfil==0022">
                  <mat-form-field class="example-full-width">
                    <input type="text" [errorStateMatcher]="matcher" placeholder="RUC *" maxlength="11" matInput
                      formControlName="RUC">
                    <mat-error *ngIf="filtrosForm.get('RUC').hasError('required')">
                      RUC es obligatorio
                    </mat-error>
                    <mat-error *ngIf="filtrosForm.get('RUC').hasError('pattern')">
                      RUC inválido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Fecha Desde" formControlName="FechaInicio"
                      [max]="filtrosForm.value['FechaFin']">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker2" placeholder="Fecha Hasta" formControlName="FechaFin"
                      [min]="filtrosForm.value['FechaInicio']">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input type="text" [errorStateMatcher]="matcher" placeholder="N° de Factura (Ejem: F005-00000814)"
                      matInput formControlName="Factura">
                  </mat-form-field>
                  <p style="font-size: 14px; margin-top: -18px;">* Opcional</p>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <button mat-raised-button (click)="limpiar();List=[]" type="button"
                    class="btn btn-fill clear btn-sm btn-primary pull-right mat-raised-button mat-button-base">Limpiar</button>
                  <button mat-button (click)="Buscar()"
                    class="btn btn-fill btn-sm btn-primary search pull-right mat-button mat-button-base"
                    [disabled]="disable">Buscar</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12" style="padding-left: 43%;">
                <mat-progress-spinner mode="indeterminate" *ngIf="disable==true"></mat-progress-spinner>
                <br>
              </div>
            </div>
            <div class="card-body" *ngIf="List.length>0">
              <div class="row barra1">
                <div class="col-sm-6">
                  <h4 class="card-title pull-left barra1text">LISTA DE FACTURAS</h4>
                </div>
              </div>
              <br>
              <div class="material-datatables table-responsive">
                <table id="dtFactura" [class]="clase4">
                  <thead>
                    <tr>
                      <th class="text-center">RUC</th>
                      <th class="text-center">N° FACTURA</th>
                      <th class="text-center">IMPORTE</th>
                      <th class="text-center">MONEDA</th>
                      <th class="text-center">FECHA DE REGISTRO</th>
                      <th class="text-center">DETRACCIÓN</th>
                      <th class="text-center"> RETENCIÓN</th>
                      <th class="text-center">ESTADO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of List">
                      <td class="text-center">{{element.stcd1}}</td>
                      <td class="text-center" style="text-transform: uppercase;">{{element.xblnr}} </td>
                      <td class="text-center">
                        <span *ngIf="element.waers=='PEN'">{{element.rwbtr | currency: 'S/'}}</span>
                        <span *ngIf="element.waers=='USD'">{{element.rwbtr | currency: '$'}}</span>
                      </td>
                      <td class="text-center" style="text-transform: uppercase;">{{element.waers}}</td>
                      <td class="text-center">{{element.fechaEmision}}</td>
                      <td class="text-center" style="text-transform: uppercase;">{{element.detra }}</td>
                      <td class="text-center" style="text-transform: uppercase;">{{element.reten }}</td>
                      <td class="text-center" style="text-transform: uppercase;font-weight:bold;">
                        <u *ngIf="element.estad=='Recepcionado'" rel="tooltip"
                          title="LA RECEPCIÓN DEL DOCUMENTO NO IMPLICA CONFORMIDAD DE SERVICIO" data-placement="left">
                          {{element.estad}}
                        </u>
                        <span *ngIf="element.estad!='Recepcionado'">
                          {{element.estad}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>