
<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter"
    style="background-image: url('./assets/img/fondo.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6 col-sm-6" style="padding-top: 5%;">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center" style="font-family: fantasy;">GUÍA DE ACCESO</h3>
                  <br>
                </div>
                <div class="col-sm-12 text-center">
                  <span class="bmd-form-group col-sm-6">
                    <a href="./assets/img/guia.pdf" download="GUIA DE ACCESO.pdf" style="cursor:pointer">
                      <i class="material-icons" style="font-size: 50px; color: red;">picture_as_pdf</i>
                    </a>
                  </span>
                </div>
              </div>
           
            </div>
          </div>
        </div>
        <div class="container">
          <br><br><br><br>
          <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Desarrollado por
            <a href="http://www.sbperu.net/" style="color:#118aea !important;" target="_blank">SOFTBRILLIANCE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>