<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, Desarrollado por
      <a href="http://www.sbperu.net/" style="color: #007bff !important;" target="_blank">SOFTBRILLIANCE</a>.
    </div>
  </div>
</footer>
