<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-text orden">
              <h4 class="card-title">AYUDA</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="card-body">
              <div class="row card-body">
                <div class="col-sm-12" style="font-weight:bold;font-size: 26px;margin-bottom: 10px;">
                  <p>IMPORTANTE:</p>
                </div>
                <div class="col-sm-12" style="font-weight:bold;font-size: 18px;">
                  <ul>
                    <li style="margin-bottom: 15px;" type="disc">
                      En caso de no encontrar la factura consultada, favor de coordinar directamente con el usuario quien
                      solicitó el servicio y/o la compra.</li>
                    <li  type="disc">Autorización para pago con transferencia bancaria.</li>
                  </ul>
                  <a href="./assets/img/autorizacion.pdf" download="AUTORIZACIÓN PARA PAGO CON TRANSFERENCIA BANCARIA.pdf" style="cursor:pointer">
                    <i class="material-icons" style="font-size: 30px; color: red;padding-left: 6%;">picture_as_pdf</i>&nbsp;&nbsp;
                    <u>Modelo de solicitud en PDF</u>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>